
:root,
:root.light {
    /* --border-containers: 1px solid #c4c2d0; */
    --color-navbar-bg: #F9F9F9;
    --color-navbar-fg: #000000;
    --color-navbar-a-fg: #000000;
    --color-navbar-a-hover-fg: #c7cbce;
    --color-home-container-bg: linear-gradient(white, #cacaca);
    --color-home-name-fg: white;
    --color-home-name-text-shadow: rgb(0, 0, 0) 1px 0 10px;
    --color-home-title-fg: white;
    --color-home-title-text-shadow: rgb(0, 0, 0) 1px 0 10px;
    --color-home-bg-opacity: 50%;
    --color-about-bg: linear-gradient(#cacaca, white);
    --color-about-fg: #303234;
    --color-experience-bg: linear-gradient(white, #cacaca);
    --color-experience-fg: #303234;
    --color-education-bg: linear-gradient(#cacaca, white);
    --color-education-fg: #303234;
    --color-projects-bg: linear-gradient(white, #cacaca);
    --color-projects-fg: #303234;
    --color-feedback-bg: linear-gradient(#cacaca, white);
    --color-feedback-fg: #303234;
    --color-footer-bg: white;
    --color-footer-fg: #000000;
    --color-button-bg: linear-gradient(to bottom right, #ffffff, #ffffff);
    --color-button-fg: #303234;
    --color-button-hover-fg: #bcbcbc;
    --color-dropdown-bg: linear-gradient(to bottom right, #f4f4f4, #ffffff);
    --color-dropdown-fg: #303234;
    --color-dropdown-hover-bg: linear-gradient(to bottom right, #83a1b8, #bfd5df);;
    --color-dropdown-hover-fg: #303234;
    --color-experience-logo-bg: rgb(255, 255, 255);
}
:root.dark {
    --border-containers: 1px solid #00000036;
    --color-navbar-bg: #101010;
    --color-navbar-fg: #c4c2d0;
    --color-navbar-a-fg: #9a9a9a;
    --color-navbar-a-hover-fg: #ffffff;
    --color-home-container-bg: linear-gradient(#101010, black);
    --color-home-name-fg: white;
    --color-home-name-text-shadow: white 1px 0 10px;
    --color-home-title-fg: white;
    --color-home-title-text-shadow: white 1px 0 10px;
    --color-home-bg-opacity: 50%;
    --color-about-bg: linear-gradient(to bottom right, #304f76, #080524);
    --color-about-fg: #ffffff;
    --color-experience-bg: linear-gradient(to bottom right, #306176, #051624);
    --color-experience-fg: #ffffff;
    --color-education-bg: linear-gradient(to bottom right, #306c76, #051c24);
    --color-education-fg: #ffffff;
    --color-projects-bg: linear-gradient(to bottom right, #30765f, #05241c);
    --color-projects-fg: #ffffff;
    --color-feedback-bg: linear-gradient(to bottom right, #30764d, #052410);
    --color-feedback-fg: #ffffff;
    --color-footer-bg: #1e1e1e;
    --color-footer-fg: #c4c2d0;
    --color-button-bg: linear-gradient(to bottom right, #181b24, #181b24);
    --color-button-fg: #c4c2d0;
    --color-button-hover-fg: #f8f8f8;
    --color-dropdown-bg: linear-gradient(to bottom right, #494949, #5d5d5d);
    --color-dropdown-fg: #c4c2d0;
    --color-dropdown-hover-bg: linear-gradient(to bottom right, #8b8b8b, #595959);;
    --color-dropdown-hover-fg: #c4c2d0;
    --color-experience-logo-bg: rgb(255, 255, 255);
}

/* Navbar */

.navbar {
    background-image: var(--color-navbar-bg);
    background-color: var(--color-navbar-bg);
    color: var(--color-navbar-fg);
}

.navbar-light {
    color: var(--color-navbar-fg);
}

.navbar-nav li a:hover {
    color: var(--color-navbar-a-hover-fg) !important;
}

.navbar-nav li a {
    color: var(--color-navbar-a-fg) !important;
}

.nav-link {
    color: var(--color-navbar-a-fg);
}

.btn {
    background-image: var(--color-button-bg);
    background-color: var(--color-button-bg);
    color: var(--color-button-fg);
}

.btn:hover {
    color: var(--color-button-hover-fg);
}

.dropdown-menu {
    background-image: var(--color-dropdown-bg);
    background-color: var(--color-dropdown-bg);
}

.dropdown-item {
    color: var(--color-dropdown-fg);
}

.dropdown-item:hover {
    background-image: var(--color-dropdown-hover-bg);
    background-color: var(--color-dropdown-hover-bg);
    color: var(--color-dropdown-hover-fg);
}

/* Home */

.home-container {
    background: var(--color-home-container-bg);
}

.home-name {
    color: var(--color-home-name-fg);
    text-shadow: var(--color-home-name-text-shadow);
}

.home-title {
    color: var(--color-home-title-fg);
    text-shadow: var(--color-home-title-text-shadow);
}

.home-bg-image {
    opacity: var(--color-home-bg-opacity);
}

/* About */

.about-container {
    background-image: var(--color-about-bg);
    background-color: var(--color-about-bg);
    color: var(--color-about-fg);
    border-bottom: var(--border-containers);
}

/* Experience */

.experience-container {
    background-image: var(--color-experience-bg);
    background-color: var(--color-experience-bg);
    color: var(--color-experience-fg);
}

.experience-logo {
    background-color: var(--color-experience-logo-bg);
}

/* Education */

.education-container {
    background-image: var(--color-education-bg);
    background-color: var(--color-education-bg);
    color: var(--color-education-fg);
}

/* Projects */

.projects-container {
    background-image: var(--color-projects-bg);
    background-color: var(--color-projects-bg);
    color: var(--color-projects-fg);
}

/* Feedback */

.feedback-container {
    background-image: var(--color-feedback-bg);
    background-color: var(--color-feedback-bg);
    color: var(--color-feedback-fg);
}

/* Footer */

.footer-container {
    background-image: var(--color-footer-bg);
    background-color: var(--color-footer-bg);
    color: var(--color-footer-fg);
}
