
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

h3 {
    font-weight: bold;
}

.margin {
    margin-bottom: 45px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #ffffff !important;
}

.navbar-container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.about-container {
    padding-top: 120px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #3893c4;
    color: #fff;
    transition: 500ms;
}

.experience-container {
    background-color: #474e5d;
    color: #fff;
    transition: 500ms;
}

.education-container {
    background-color: #fff;
    color: #555555;
    transition: 500ms;
}

.projects-container {
    background-color: #3893c4;
    color: #fff;
    transition: 500ms;
}

.feedback-container {
    background-color: #c16c17;
    color: #fff;
    transition: 500ms;
}

.footer-container {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2f2f2f;
    color: #fff;
    transition: 500ms;
}

.color-scheme-button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.color-scheme-img {
    width: 100px;
    height: 25px;
}