
:root {
    --transition-time: 1000ms;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
}

h3 {
    font-weight: bold;
}

p {
    font-size: 14px;
}

#home, #about, #experience, #education, #projects, #contact {
    scroll-margin-top: 95px;
}

.images {
    height: 3%;
    border-radius: 8px;
    border: 1px solid black;
}

.margin {
    margin-bottom: 45px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.col-sm-4 {
    width: 400px;
    margin: 15px;
}

.divider-container-gray {
    background-color: #cacaca;
}

.divider-container-white {
    background-color: #ffffff;
}

.page-divider-white {
    margin: 0 auto;
    width: 90%;
    border-top: 1px solid #000000;
}

.page-divider-gray {
    margin: 0 auto;
    width: 90%;
    border-top: 1px solid #000000;
}

/* Navbar */

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.navbar-brand {
    font-family: "Monaco";
}

.color-scheme-dropdown {
    font-size: 30em;
}

/* Home */

.home-container {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 63px;
    transition: var(--transition-time);
    height: 45em;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-name {
    font-size: 72px;
    font-family: "Monaco";
}

.home-title {
    font-size: 36px;
    font-family: "Monaco";
}

.home-bg-image {
    width: 100%;
    height: 109%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* About */

.about-container {
    padding-left: 100px;
    padding-right: 100px;
    transition: var(--transition-time);
}

.about-description {
    text-align: left;
}

.about-image {
    float: left;
    width: 300px;
    margin-right: 25px;
    margin-right: 25px;
}

/* Experience */

.experience-container {
    transition: var(--transition-time);
}

.experience-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
}

.experience-logo {
    padding: 1em;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid black;
    width: 15em;
}

.experience-title {
    font-weight: bold;
}

/* Education */

.education-container {
    transition: var(--transition-time);
}

.education-flex {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
}

.education-image {
    height: 250px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Projects */

.projects-container {
    transition: var(--transition-time);
    height: 30em;
}

/* Contact */
.contact-container {
    transition: var(--transition-time);
}

.contact-form {
    margin: 0 auto;
    width: 1100px;
}

/* Footer */

.footer-container {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: var(--transition-time);
}
